<form class="form-inline">
    <div class="btn-group dropup form-group">
        <button type="button" class="btn btn-primary dropdown-toggle" id="language" data-toggle="dropdown" aria-expanded="false">
            {{'CHANGELANGUAGE' | translate}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="language">
            <li><a href="" ng-click="changeLanguage('ru')">Русский</a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="changeLanguage('en')">English</a></li>
        </ul>
    </div>
</form>